.about {
	max-width: 1000px;
    position: relative;
    margin: 0px auto;
	padding: 150px 0px;
	animation: onload 1.5s;
	animation-delay: 2.3s;
	animation-fill-mode: backwards;
}

.page-heading {
	position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    font-size: 26px;
	margin: 10px 0px 40px;
	font-weight: 600;
    color: #ccd6f6;
}

.page-heading::before {
	counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
    color: #64ffda;
    font-size: 20px;
    position: relative;
	bottom: -4px;
}

.page-heading::after {
	content: "";
    display: block;
    height: 1px;
    width: 300px;
    background-color: #2d3952;
    position: relative;
    top: 3px;
    margin-left: 20px;

}

.about-info {
	position: relative;
	display: flex;
	flex-direction: row;
	height: 100%;
	overflow: visible;
}

.about-info p {
	color: #8892b0;
	display: inline-block;
	width: 50%;
	margin-right: 50px;
	word-wrap: normal;
	text-indent: 0;
}

.about-img {
	position: relative;
    width: 40%;
    max-width: 300px;
    margin-left: 60px;
}

.sub-about-img {
	position: relative;
    mix-blend-mode: multiply;
    /* filter: grayscale(100%) contrast(1); */
    border-radius: 3px;
}

.avatar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	opacity: 1;

	width: 100%;
    max-width: 100%;
    vertical-align: middle

}


.img-link {
	box-shadow: #010b1a 0px 10px 30px -15px;
    width: 100%;
    position: relative;
    background-color: #64ffda;
    margin-left: -20px;
    border-radius: 3px;
}

.img-link:hover {
	background-color: transparent;

}

.img-link::before {
	top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* background-color: #0a192f; */
    mix-blend-mode: screen;
}

.img-link::before, .img-link::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.img-link::after {
	top: 20px;
    left: 20px;
    z-index: -1;
    border-width: 2px;
    border-style: solid;
    border-color: #64ffda;
    border-image: initial;
}

a {
    display: inline-block;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

@media(max-width: 768px) {
	.about-info {
		display: block;
	}

	.about-info p {
		width: 100%;
		font-size: 18px;
	}

	.about-img {
		width: 80%;
		margin-left: 40px;
	}
}

@keyframes onload {
	0% {
		transform: translateX(120px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}