.pagefooter {
	display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #020c1b;
    color: #8892b0;
    text-align: center;
    height: auto;
    min-height: 70px;
    padding: 15px;
}

.inspire {
	display: block;
	white-space: pre-wrap;
	font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 12px;
    line-height: 0.2;
}

.inspire-links {
	color: #8892b0;
    padding: 10px;
}

.bottom-inspire {
	margin-top: 10px;
}

a:hover {
	color: #64ffda;
}

.footer-icons {
	color: #a8b2d1;
    width: 100%;
    max-width: 270px;
    display: none;
    margin: 0px auto 5px;
}

.footer-icon-list {
	display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.icons-foot {
	width: 25px;
	height: 25px;
	fill: #64ffda;
}

@media(max-width: 786px) {
	.footer-icons {
		display: inline;
	}
}