.homepage {
	max-width: 1000px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0px auto;
	padding: 150px 0px;
}
/* name duration timing-function delay iteration-count direction fill-mode */

 h1, h3, h2 {
	margin-left: 20px;
	font-weight: 600;
	color: #ccd6f6;	
}

h1 {
	animation: onload 1s;
}

h2 {
	animation: onload 1.3s;
	/* animation-delay: 1s; */
	animation-fill-mode: backwards;
}

h3 {
	animation: onload 1s;
	animation-delay: 1s;
	animation-fill-mode: backwards;
}


.homepage-greet {
	color: #64ffda;
	font-size: 16px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
    margin: 0px 0px 20px 3px;
}

.homepage-name{
	font-size: 60px;
    line-height: 1.1;
	margin: 0px;
}


.homepage-desc {
	font-size: 60px;
    line-height: 1.1;
	color: #8892b0;
	margin: 0px 0px 10px;
}

.desc {
	color: #8892b0;
	margin-top: 25px;
    width: 90%;
	max-width: 500px;
	animation: onload 1.3s;
	animation-delay: 1.3s;
	animation-fill-mode: backwards;
}

.homepage-button {
	animation: onload 1.3s;
	animation-delay: 1.8s;
	animation-fill-mode: backwards;
}

@media(max-width: 768px) {
	.homepage-greet {
		font-size: 13px;
	}
	.homepage-name {
		font-size: 35px;
		font-weight: bold;
	}
	.homepage-desc {
		font-size: 30px;
	}
	.desc {
		margin-top: 0px;
		font-size: 18px;
		width: 100%;
	}
}

@keyframes onload {
	0% {
		transform: translateZ(-120px);
		opacity: 0;
	}
	100% {
		transform: translateZ(0);
		opacity: 1;
	}
}

@keyframes onloadleft {
	0% {
		transform: translateX(-120px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

/* a {
    display: inline-block;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
} */