.main-window {
	display: flex;
    flex-direction: column;
    min-height: 100vh
}

#root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
}

.main {
	width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    counter-reset: section 0;
    padding: 200px 150px;
    margin: 0px auto;
}

.main.fillHeight {
    padding-top: 0px;
    padding-bottom: 0px;
}


.side-links {
	width: 40px;
	position: fixed;
	bottom: 0px;
	left: 40px;
	right: auto;
	z-index: 10;
	color: rgb(168, 178, 209);
}

.social-links {
	display: flex;
	flex-direction: column;
	-webkit-box-direction: center;
	align-items: center;
	list-style: none;
    padding: 0px;
    margin: 0px;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.list-icon li:last-of-type {
	margin-bottom: 30px;
}

.list-icon {
	padding: 10px;
	
}

.list-icon a {
	display: inline-block;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.list-icon img {
	width: 18px;
	height: 18px;
	fill: currentColor;
	vertical-align: middle;
}

.social-links::after {
	content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: rgb(168, 178, 209);
    margin: 0px auto;
}

.social-links li:last-of-type {
    margin-bottom: 20px;
}

.social-links svg {
    width: 18px;
	height: 18px;
	fill: currentcolor;
    vertical-align: middle;
}

.social-links svg:hover {
	color: #64ffda;
	cursor: pointer;

	/* display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(4px) translateZ(0);
    transform: perspective(4px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	
	margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased; */
}
