.skills {
	max-width: 1000px;
    position: relative;
    margin: 0px auto;
    padding: 150px 0px;
}

.skills-center  {
	display: inline-block;
	display: flex;
	width: 100%;
	height: 90%;
}

.tools {
	width: 100%;
}

.icon-row {
	display: flex;
	flex-direction: row;
}

.icon-row>img{
	margin: 30px;
	/* background-color: transparent; */
	width: 80px;
	height: 80px;
	position: relative;
	filter: grayscale(100%);
}

.icon-row>img:hover {
	filter: none;
}

